
// Шрифты
//
$Montserrat : 'Montserrat', sans-serif;
$Tenor: 'Tenor Sans', sans-serif;

// Цвет текста
//

$Pink: #FC5C7D;
$PinkLow:#FEF5F5;

$TextColor: rgb(0, 0, 0);
$TextBlue: rgb(47, 34, 195);


// Размеры Шрифтов      
//  1 rem = 16px

//       19      1.2rem/19.20px
$Text19: 1.2rem;

//      23      1.44rem/23.04px
$px23: 1.44rem;

//      27     1.728rem/27.65px
$px27: 1.7rem;

//   33     2.074rem/33.18px
$h2: 2rem;

//      40     2.488rem/39.81px
$px40: 2.5rem;// Размеры Шрифтов      1 rem = 16px

//       19      1.2rem/19.20px
$Text19: 1.2rem;

//      23      1.44rem/23.04px
$px23: 1.44rem;

//      27     1.728rem/27.65px
$px27: 1.7rem;

//   33     2.074rem/33.18px
$h2: 2rem;

//      40     2.488rem/39.81px
$px40: 2.5rem;
